@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

* {
    font-family: "Poppins", sans-serif;
}

@theme {
    --breakpoint-s-mobile: 375px;
    --breakpoint-b-desk: 1500px;
    --breakpoint-md-desk: 1000px;
}

@layer {
    .icon {
        @apply rounded-full cursor-pointer p-2 border-2 border-gray-200 relative;
    }

    .inpt {
        @apply w-[82.5px] text-[14px] text-gray-400 outline-none;
    }
}

/* Remove default icon for date */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

/* Remove default icon for time */
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

/* Optional: remove spin buttons (time) */
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-clear-button {
    display: none;
}